ARK_API_KEY=
QINIU_UPLOAD_URL=https://up-z1.qiniup.com
QINIU_CDN_DOMAIN=https://qncweb.ktvsky.com
QINIU_TOKEN_API=/c/qiniu/get_upload_token
QINIU_CHECK_API=/vadd/facechange/mv/qiniu/check
QINIU_BASE_URL=https://m.ktvsky.com
QINIU_DIRECTORY=seedream
